body {
    margin: 0;
    overflow: hidden;
    background: black;
    background: url("../dist/assets/pattern.png");
}

#images {
    display: none;
}

#canvas {
    position: absolute;
    box-shadow: black 8px 8px;
}
